<div class="show_box">
  <h3><%= "#{@subject.title}" %></h3>
  <div class="show_text">
    <%= "#{@subject.text}" %>
  </div>
  <div class="del_box">
    <% if user_signed_in? && current_user.id == @subject.user_id%>
      <%= link_to "削除する", subject_path(@subject.id), method: :delete, class: "del" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% unless Ans1.exists?(user_id: current_user.id, subject_id: @subject.id) ||
              Ans2.exists?(user_id: current_user.id, subject_id: @subject.id) ||
              Ans3.exists?(user_id: current_user.id, subject_id: @subject.id) %>
      <div class="post">
        <%= link_to "a", "/subjects/#{@subject.id}/vote1", method: :post, class: "ans" %>
        <%= link_to "b", "/subjects/#{@subject.id}/vote2", method: :post, class: "ans" %>
        <%= link_to "c", "/subjects/#{@subject.id}/vote3", method: :post, class: "ans" %>
      </div>
    <% else %>
       <div class="results">
         <h4 class="call">結果(投票済)</h4>
         <div class="num">
          <%= "a:#{@count1}票 b:#{@count2}票 c:#{@count3}票 総数#{@counts}票" %>
         </div>
         <div class="per">
          <%= "a:#{@per1}% b:#{@per2}% c:#{@per3}%" %>
         </div>
        </div>
    <% end %>
  <% else %>
    <h4 class="call">投票や結果を見るにはログインする必要があります</h4>
  <% end %>
  
  <% if user_signed_in? %>
    <% if Ans1.exists?(user_id: current_user.id, subject_id: @subject.id) ||
          Ans2.exists?(user_id: current_user.id, subject_id: @subject.id) ||
          Ans3.exists?(user_id: current_user.id, subject_id: @subject.id) %>
      <div class="comment_form">
        <%= form_with model: [@subject, @comment], local: true do |f| %>
          <%= f.text_area :text, placeholder: "コメント", size: "50" %>
          <%= f.submit "SEND" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="comments">
    <h4>コメント一覧</h4>
    <% @comments.each do |comment| %>
      <p>
        <%= link_to comment.user.nickname, user_path(comment.user.id) %>：
        <%= comment.text %>
      </p>
    <% end %>
  </div>
</div>